<% if (rooms.length > 0) { %>
<h1 class="header"><%= header %></h1>
<div class="table-container">
    <table class="table">
        <tr>
            <th>id</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <% for (let i = 0; i < rooms.length; i += 1){ %>
            <tr>
                <td><%= rooms[i].id %></td>
                <td>
                    <form action="/room" method="GET">
                        <input type="submit" value="View" class="btn">
                        <input type="hidden" name="id" value="<%= rooms[i].id %>">
                    </form>
                </td>
                <td>
                    <form action="/updateRoom" method="GET">
                        <input type="submit" value="Update" class="btn">
                        <input type="hidden" name="id" value="<%= rooms[i].id %>">
                    </form>
                </td>
                <td>
                    <form action="/deleteRoom" method="POST">
                        <input type="submit" value="Delete" class="btn danger">
                        <input type="hidden" name="id" value="<%= rooms[i].id %>">
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <% if (totalPages > 1) { %>
        <div class="pagination">        
            <% for (let i = 1; i < totalPages + 1; i += 1) {%>
                <div class="page">
                    <a class="link <% if (page == i) { %>active<%}%>" 
                    onclick="queryParams = new URLSearchParams(window.location.search) 
                    queryParams.set('page', '<%= i %>')
                    window.location.replace('?'+queryParams.toString());">
                        <%= i %>
                    </a>
                </div>
            <% } %>
        </div>
    <% } %>
</div>

<% } else { %>
<div class="msg">
    <% if (total < 1 && page > totalPages) { %> 
        <span>No rooms exist, please <a href="/createRoom">create a room</a></span>
    <% } else { %> 
        <span>Invalid query parameter</span>
    <% } %>
</div>
<% } %>