<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/account.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title><%= title %></title>
    <% try{ %>
        <% if (userPrivilege === "administrator") { %>
        <style>
        .container {
            height: calc(100vh - 220px);
        }
        </style>
        <% } %>
    <% } catch (e) {} %>
</head>
<body>
<%- include('../includes/navbar') %>
<div class="container">
    <div id="account">
        <form action="account/update" method="GET" id="form">
            <h2 class="header">My account</h2>
            <div id="accountInfo">
                <div id="name">
                    <input type="text" value="<%= account.firstName %>" name="firstName" id="firstName">
                    <input type="text" value="<%= account.lastName %>" name="lastName" id="lastName">
                </div>

                <div id="email">
                    <input type="text" value="<%= account.email %>" name="email" id="accEmail">
                </div>

                <input type="hidden" value="<%= account.id %>" name="userId">
                <input type="submit" value="Update account" class="btn">
            </div>
        </form>
    
        <div id="logoutDelete">
            <a href="/logout">Logout</a>
            <a href="#popup" class="btn danger" id="deleteBtn">Delete account</a>                    
        </div>
    </div>

    <div id="confirm">
        <h2 class="header">
            Are you sure you want to delete your account?
        </h2>
        <div class="close">
            <a href="/account/delete" class="btn danger" id="deleteBtn">Yes</a>                    
            <a class="btn" id="no">No</a>
        </div>
    </div>

    <script>
        const deleteBtn = document.getElementById("deleteBtn");
        const confirmDiv = document.getElementById("confirm");

        const yes = document.getElementById('yes');
        const no = document.getElementById('no');

        window.addEventListener('load', () => {
            closeConfirm();
        });

        deleteBtn.addEventListener('click', () => {
            showConfirm();
        })

        no.addEventListener('click', () => {
            closeConfirm();
        })




        function showConfirm() {
            confirmDiv.style.display = "flex";
        }

        function closeConfirm() {
            confirmDiv.style.display = "none";
            const url = window.location.toString();
            if (url.indexOf('#') > 0) {
                const cleanUrl = url.substring(0, url.indexOf('#'));
                window.history.replaceState({}, document.title, cleanUrl);
            }
        }
    </script>
</div>
<%- include('../includes/footer') %>
</body>
</html>
