<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatile" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title><%= title %></title>
        <% if (userPrivilege == "administrator") { %>
        <style>
        .container {
            height: calc(100vh - 203px);
        }
        </style>
        <% } %>
</head>
<body>
    <%- include('../includes/navbar') %> 
    <div class="container">
        <% if (bookings.length > 0) { %>
            <table>
                <thead>
                    <th>Checkin</th>
                    <th>Checkout</th>
                </thead>
                <% for (let i = 0; i < bookings.length; i += 1){ %>
                    <tr>
                        <td><%= bookings[i].checkin %></td>
                        <td><%= bookings[i].checkout %></td>
                        <td>
                            <form action="/room" method="GET">
                                <button>View</button>
                                <input type="hidden" name="id" value="<%= bookings[i].idRoom %>">
                            </form>
                        </td>
                        <td>
                            <form action="/cancel" method="POST">
                                <button>Cancel</button>
                                <input type="hidden" name="id" value="<%= bookings[i].id %>">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } else { %>
            <% if (user = 'none') { %>
                Please login to view bookings
            <% } %>
            <%= msg %>
        <% } %>
    </div>
    <%- include('../includes/footer') %>
</body>
</html>
