<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatile" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/css/footer.css" />
        <link rel="stylesheet" type="text/css" href="/css/bookingCheckout.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title><%= title %></title>
        <% try{ %>
            <% if (user != null) { %>
                <% if (userPrivilege === 'administrator') { %>
                    <style>
                        .container {
                            min-height: calc(100vh - 224px);
                        }
                    </style>
                <% } %>
            <% } %>
        <% } catch (e) {} %>
</head>
<body>
<div id="wrapper">
    <%- include('../includes/navbar') %> 
    <div class="container">
        <% if (bookings.length > 0) { %>
            <h1 class="header">My bookings</h1>
            <table class="table">
                <tr>
                    <th>Room type</th>
                    <th>Checkin</th>
                    <th>Checkout</th>
                    <th class="hidden">View</th>
                    <th class="hidden">Cancel</th>
                </tr>
                <% for (let i = 0; i < bookings.length; i += 1){ %>
                    <tr>
                        <td><%= bookings[i].type %> Room</td>
                        <td><%= bookings[i].checkin %></td>
                        <td><%= bookings[i].checkout %></td>
                        <td>
                            <form action="/room" method="GET">
                                <input type="submit" value="View" class="btn">
                                <input type="hidden" name="id" value="<%= bookings[i].idRoom %>">
                            </form>
                        </td>
                        <td>
                            <form action="/cancel" method="POST">
                                <input type="hidden" name="id" value="<%= bookings[i].id %>">
                                <input type="submit" value="Cancel" class="btn danger">
                            </form>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } else { %>
            <div class="msg">
                <% if (user === 'none') { %>
                    <p>Please login to view bookings</p>
                <% } else { %>
                    <p><%= msg %></p>
                <% } %>
            </div>
        <% } %>
    </div>
    <%- include('../includes/footer') %>
</div>
</body>
</html>
