<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/rooms.css" />
    <title><%= title %></title>
    <% if (userPrivilege == "administrator") { %>
    <style>
    .container {
         height: calc(100vh - 203px);
    }
    </style>
    <% } %>
</head>
<body>
<%- include('../includes/navbar') %>
<div class="container">
    <% if (operation != 'edit') { %>
        <% if (checkin != '' && checkout != '' && checkin != checkout && checkin >= formattedToday && !(checkout <= checkin)) { %>
            <%- include('../includes/rooms') %>
        <% } else { %>
            <h2>Invalid search</h2>
            <%- include('../includes/forms/roomSearch') %>
                <div class="msg">
                    <p>
                        <%= msg %>
                    </p>
                </div>
            <script src="js/test.js"></script>
        <% } %>
    <% } else { %>
        <%- include('../includes/updateRooms') %>
    <% } %>
</div>
<%- include('../includes/footer') %>
</body>
</html>
