<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/room.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title><%= title %></title>
    <% try{ %>
        <% if (user != null) { %>
            <% if (userPrivilege === 'administrator') { %>
                <style>
                    .container {
                        min-height: calc(100vh - 224px);
                    }
                </style>
            <% } %>
        <% } %>
    <% } catch (e) {} %>
</head>
<body>
<div id="wrapper">
<%- include ('../includes/navbar') -%>
<div class="container">
    <% if (operation === 'view') { %>
        <h3 class="room-title">
            <span><%= room.type %> Room</span>
        </h3>
                 
        <div class="room-info">
            <div id="guests">
                <div class="icon">
                    <span class="i guests"></span>
                </div>
                <span><%= room.occupancy %></span>
            </div>
    
            <div id="beds">
                <div class="icon">
                    <span class="i beds"></span>
                </div>
                <span><%= room.beds %> (<%= room.bedType %> Bed)</span>
            </div>
    
            <div id="price">
                <span>Price per night: $<%= room.ppn %></span>
            </div>
        </div>
    
        <div id="description">
            <p><%= room.description %></p>
        </div>
    
        <div class="images">
            <% if (room.type === 'Standard') { %>
                <%- include ('../includes/images/standard.ejs') %>
            <% } else { %>
                <%- include ('../includes/images/deluxe.ejs') %>
            <% } %>
        </div>
    <% } else { %>
        <div class="stay">
            <div class="icon">
                <div class="i stay-time"></div>
            </div>
            <% if (nights > 1) { %>
                <div class="nights">
                    <span>You have selected this room for <%= nights %> nights.</span>
                </div>
                <div class="timeframe">
                    <span>From <%= checkin %> to <%= checkout %></span>
                </div>
            <% } else { %>
                <div class="nights">
                    <span>You have selected this room for <%= nights %> night.</span>
                </div>
                <div class="timeframe">
                    <span>From <%= checkin %> to <%= checkout %></span>
                </div>
            <% } %> 
        </div>
                
        <h3 class="room-title">
            <span><%= room.type %> Room</span>
        </h3>
    
        <div class="room-info">
            <div id="guests">
                <div class="icon">
                    <div class="i guests"></div>
                </div>
                <span><%= room.occupancy %></span>
            </div>
    
            <div id="beds">
                <div class="icon">
                    <div class="i beds"></div>
                </div>
                <span><%= room.beds %> (<%= room.bedType %>)</span>
            </div>
    
            <div id="price">
                <span>Price: $<%= totalPrice %></span>
                <span class="ppn">(<%= nights %> x $<%= room.ppn %>)</span>
            </div>
        </div>
                       
        <div id="description">
            <p><%= room.description %></p>
        </div>
    
        <div class="images">
            <% if (room.type === 'Standard') { %>
                <%- include ('../includes/images/standard.ejs') %>
            <% } else { %>
                <%- include ('../includes/images/deluxe.ejs') %>
            <% } %>
        </div>

        <% if (people < room.occupancy || isNaN(people)) { %>
            <div class="msg">
                <span>
                    Please be aware that this room does not meet the guest count you specified.
                </span>
            </div>
        <% } else { %>
            <% if (people > room.occupancy) { %>
                <div class="msg">
                    <span>
                        This room meets your specified guest count but might exceed your requirements
                    </span>
                </div>
            <% } %>
            <form action="/checkout/booking?id=<%= room.id %>&type=<%= room.type %>&checkin=<%= checkin %>&checkout=<%= checkout %>&people=<%= people %>&price=<%= totalPrice %>" method="GET" class="checkout">
                <input type="submit" class="btn" id="signup-btn" value="Book Room">
                <input type="hidden" name="id" value="<%= room.id %>">
                <input type="hidden" name="type" value="<%= room.type %>">
                <input type="hidden" name="checkin" value="<%= checkin %>">
                <input type="hidden" name="checkout" value="<%= checkout %>">
                <input type="hidden" name="price" value="<%= totalPrice %>">
            </form>
        <% } %>
    <% } %> 
</div>
<script src="/js/imageDisplay.js"></script>       
<%- include ('../includes/footer') -%>
</div>
</body>
</html>
