<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatile" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/room.css" />
        <title><%= title %></title>
    </head>
    <body>
    <%- include ('../includes/navbar') -%>

    <div class="container">
        <% if (operation == "view") { %>
                <h3 class="room-title">
                    <%= room.type %> Room
                </h3>

                       
                <div id="description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa qui iure impedit quas voluptates ratione. In sed magni aliquid ex placeat dolores ab! Voluptates sint suscipit sed minima quasi? Dicta?
                </div>

                <div class="room-info">
                <div id="guests">
                    <div class="icon">
                        <i class="i guests"></i>
                    </div>
                    <%= room.occupancy %>
                </div>

                <div id="beds">
                    <div class="icon">
                        <i class="i beds"></i>
                    </div>
                    <%= room.beds %>
                </div>

                <div id="price">
                    Price per night: $<%= room.ppn %>
                </div>
           </div>

           <div class="images">
                <% if (room.type === "Standard") { %>
                    <%- include ('../includes/images/standard.ejs') %>
                <% } else { %>
                    <%- include ('../includes/images/deluxe.ejs') %>
                <% } %>
            </div>
            <div class="dots">
                <span class="dot" onclick="plusImages(1)"></span>
                <span class="dot" onclick="plusImages(2)"></span>
                <span class="dot" onclick="plusImages(3)"></span>
            </div>
            
            <% if (userBooking != '') { %>
                <form action="/cancel" method="POST">
                    <button>Cancel</button>
                    <input type="hidden" name="id" value="<%= room.id %>">
                </form>
            <% } %>
        <% } else { %>
            <div class="stay">
                <% if (nights > 1) { %>
                    <div class="nights">
                        You have selected this room for <%= nights %> nights.
                    </div>
                    <br>
                    <div class="timeframe">
                        From <%= checkin %> to <%= checkout %>
                    </div>
                <% } else { %>
                    <div class="nights">
                        You have selected this room for <%= nights %> night.
                    </div>
                    <br>
                    <div class="timeframe">
                        From <%= checkin %> to <%= checkout %>
                    </div>
                <% } %> 
            </div>
    
            <div class="room-type">
                <h3>
                    Room Suitable for <%= room.occupancy %>
                </h3>
           </div>
       
           <div class="room-price">
                Total price: $<%= totalPrice %> (<%=nights%> x $<%=room.ppn%>)
           </div>
       
           <!-- <%= room.description %> -->
    
           <div class="images">
                <% if (room.type === "Standard") { %>
                    <%- include ('../includes/images/standard.ejs') %>
                <% } %>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="plusImages(1)"></span>
                <span class="dot" onclick="plusImages(2)"></span>
                <span class="dot" onclick="plusImages(3)"></span>
            </div>
            
            <% if (userBooking) { %>
            <form action="/book?id=<%= room.id %>&checkin=<%= checkin %>&checkout=<%= checkout %>" method="POST">
                <input type="submit" class="btn" id="signup-btn" value="Book Room">
            </form>
            <% } else { %>
                test
            <% } %>
        <% } %> 
    </div>

    <script>
        let imageIndex = 1;
        showImages(imageIndex);
        
        // Next/previous controls
        function plusImages(n) {
          showImages(imageIndex += n);
        }
        
        // Thumbnail image controls
        function currentImage(n) {
          showSlides(imageIndex = n);
        }
        
        function showImages(n) {
          let i;
          let images = document.getElementsByClassName("image");
          let dots = document.getElementsByClassName("dot");
          if (n > images.length) {imageIndex = 1}
          if (n < 1) {imageIndex = images.length}
          for (i = 0; i < images.length; i++) {
            images[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          images[imageIndex-1].style.display = "block";
          dots[imageIndex-1].className += " active";
        }
    </script>
        
    <%- include ('../includes/footer') -%>
</body>
</html>
