<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/contactForm.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title><%= title %></title>
    <% try{ %>
        <% if (user != null) { %>
            <% if (userPrivilege === 'administrator') { %>
                <style>
                    .container {
                        min-height: calc(100vh - 224px);
                    }
                </style>
            <% } %>
        <% } %>
    <% } catch (e) {} %>
</head>
<body>
<div id="wrapper">
<%- include('includes/navbar') %> 
<div class="container">
    <form action="/contact" method="POST" id="contact">
        <h2 class="header">Contact us</h2>
        <input type="text" name="firstName" id="firstName" <% if (user != null) { %> value="<%= account.firstName %>" readonly tabindex="-1" <% } %>  placeholder="First Name" required>
        <input type="text" name="lastName" id="lastName" <% if (user != null) { %> value="<%= account.lastName %>" readonly tabindex="-1" <% } %>  placeholder="Last Name" required>
        <input type="email" name="email" id="email" <% if(user != null) { %> value="<%= user %>" readonly tabindex="-1" <% } else { %> placeholder="Email" <% } %> required>
        <textarea name="enquiry" id="enquiry" placeholder="Enquiry" required></textarea>
    
        <input type="submit" class="btn" value="Send">
    </form>
</div>
<%- include('includes/footer') %>
</div>
</body>
</html>
