<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="favicon.ico" />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
        <title><%= title %></title>
        <style>
            .main {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: 100%;
                height: calc(100vh - 173px);
                text-align: center;
            }
        </style>
    </head>
<body>
<%- include('includes/navbar') %>
<div class="main">
    <div id="error">
        <h2><%= status %></h2>
        <h3><%= msg %></h3>
    </div>
</div>
<%- include('includes/footer') %>
</body>
</html>
