<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title><%= title %></title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 100%;
            min-height: calc(100vh - 173px);
            text-align: center;
        }
    </style>
</head>
<body>
<div id="wrapper">
<%- include('includes/navbar') %>
<div class="container">
    <div id="error">
        <h2 class="header"><%= status %></h2>
        <h3><%= msg %></h3>
    </div>
</div>
<%- include('includes/footer') %>
</div>
</body>
</html>