<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatile" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title><%= title %></title>
    </head>
    <body>
        <div class="container">
            <%- include('includes/navbar') %> 
            <div id="content">
                <div class="hero-container lazy">
                    <div class="hero-image">
                        <div class="hero-text">
                            <h1>
                                Book Now
                            </h1>
                        </div>
                        <form action="/rooms" method="GET" id="booking">
                            <div class="booking">
                                <div class="date">
                                    <label for="checkin" class="label">Check in:</label>
                                    <input type="date" name="checkin" class="datepicker" id="checkin">
                                </div>
                                <div class="date">
                                    <label for="checkout" class="label">Check out:</label>
                                    <input type="date" name="checkout" class="datepicker" id="checkout">
                                </div>
            
                                <div class="people">
                                    <label for="people" class="label">Number of people: </label>
                                    <select name="people" class="booking-item" id="people">
                                        <% for (let i = 1; i < 5; i += 1) { %>
                                            <option name="<%= i %>"><%= i %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <input type="submit" value="Search" class="btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('includes/footer') %>
        </div>
    </body>
</html>
