<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatile" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/loginRegister.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title><%= title %></title>
</head>
<body>
<div id="wrapper">
<%- include('includes/navbar') %> 
<div class="container">
    <div id="register">
        <h3 class="header"><%= header %></h3>
        <form action="/register" method="POST" id="form" onsubmit="return validateRegister();">
            <div id="firstNameContainer">
                <input type="text" name="firstName" id="firstName" class="firstName" placeholder="First Name *" value="<%= form.firstName %>" />
            </div>
        
            <div id="lastNameContainer">
                <input type="text" name="lastName" id="lastName" class="lastName" placeholder="Last Name" value="<%= form.lastName %>" />
            </div>
        
            <div id="emailContainer">
                <input type="email" name="email" id="email" class="email" placeholder="Email *" autocomplete="email" value="<%= form.email %>" />
            </div>
        
            <div id="passwordContainer">
                <input type="password" name="password"id="password" class="password" placeholder="Password *" value="<%= form.password %>" />                
                <span class="i eye-show" id="showPswdBtn"></span>
            </div>
        
            <div id="verifyPasswordContainer">
                <input type="password" name="verifyPassword" id="verifyPassword" class="password verify" placeholder="Verify Password" value="<%= form.verifyPassword %>" />
                <span class="i eye-show" id="showVrfyPswdBtn"></span>
            </div>
        
            <input type="submit" value="Register" id="button" class="btn" />
        
            <div class="msg"><% if (error) { %> <%= error %> <% } %></div>

            <script src="/js/togglePasswordVisibility.js" type="module"></script>
            <script src="/js/validate.js"></script>

            <div class="container-login">
                <span>
                    Already have an account?
                    <a href="/login" class="link">Login</a>
                </span>
            </div>
        </form>
    </div>
</div>
<%- include('includes/footer') %>
</div>
</body>
</html>