<form action="/updateRoom" method="POST" id="update">
    <input type="hidden" name="id" value="<%= room.id %>">
    <h2 class="header">Currently updating</h2> <h3><%= room.type %> Room (Room id <%= room.id %>)</h3>

    <div id="type">
        <label for="t">Room type: </label>
        <select name="type" class="type" id="t">
            <% for (let i = 0; i < types.length; i += 1) { %>
                <option value="<%= types[i].type %>" <% if(types[i].type == room.type) {%> selected <% } %> ><%= room.name %>
                    <%= types[i].type %>
                </option>
            <% } %>
        </select>
    </div>

    <div id="occupancy">
        <label for="o">Room occupancy: </label>
        <select name="occupancy" class="occupancy" id="o">
            <% for (let i = 1; i < 5; i += 1) { %>
                <option value="<%= i %>" <% if(room.occupancy == i) { %> selected <% } %>>
                    <% if (i < 2) { %>
                        <%= i %> Person
                    <% } else { %>
                        <%= i %> People
                    <% } %>
                </option>
            <% } %>
        </select>
    </div>

    <div id="beds">
        <label for="b">Number of beds: </label>
        <select name="beds" class="beds" id="b">
            <% for (let i = 1; i < 3; i +=1) { %>
                <option value="<%= i %>" <% if(room.beds == i) { %> selected <% } %>>
                    <% if (i < 2) { %>
                        <%= i %> Bed
                    <% } else { %>
                        <%= i %> Beds
                    <% } %>
                </option>
            <%} %>
        </select>

        <label for="bt">Bed type: </label>
        <select name="bedType" class="bedType" id="bt">
            <option value="Double" <% if(room.bedType == "Double") { %> selected <% } %>>Double</option>
            <option value="Queen" <% if(room.bedType == "Queen") { %> selected <% } %>>Queen</option>
            <option value="King" <% if(room.bedType == "King") { %> selected <% } %>>King</option>
        </select>
    </div>

    <input type="text" name="ppn" class="price" placeholder="Price per night" value="<%= room.ppn %>">
    <input type="text" name="description" class="description" placeholder="Description" value="<%= room.description %>">
    <input type="submit" value="Update" class="btn">
</form>